.ServiceItems {

}

.ServiceItem {
  margin-top: 0px;
  margin-bottom: 8px;
}

.ServiceItem:last-of-type {
  margin-bottom: 0px;
}

.ServiceItemBorder {
  border: 1px solid gray;
  font-size: 1.0em;
  padding: 5px;
  border-radius: 5px;
}

.ServiceItemError {
  border-radius: 5px;
  padding: 5px;
  color: yellow;
  margin-bottom: 10px;
  padding-left: 8px;
}

.lastOk {
  font-size: 0.9em;
}
.lastCheck {
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 2px
}

/* border */

.border-white {
  border: 1px solid white;
}

.border-green {
  border: 1px solid lime;
  background-color: #082308;
}

.border-yellow {
  border: 1px solid yellow;
  background-color: #252504;
}

.border-orange {
  border: 1px solid orange;
  background-color: #332600;
}

.border-red {
  border: 1px solid red;
  background-color: #2c0909;
}

.border-gray {
  border: 1px solid gray;
}

.border-purple {
  border: 1px solid purple;
}

/* color */

.color-white {
  color: white;
}

.color-green {
  color: lime;
}

.color-yellow {
  color: yellow;
}

.color-orange {
  color: orange;
}

.color-peach {
  color: #fbdba0;
}

.color-red {
  color: #FD7272;
}

.color-gray {
  color: gray;
}

.color-purple {
  color: purple;
}
