/* filters */

.vertical-scroll-dash select {
  background-color: #353535;
  border: 1px solid #404040;
  color: white;
  font-size: 1em;
  white-space: nowrap;
  opacity: 0.8;
  margin-right: 6px;
  position: relative;
  top: -1px;
}
