.ServiceItem {
	position: relative;
	cursor: pointer;
}
.comment {
	font-size: 0.8em;
	/*background-color: rgba(0, 0, 0, 0.3);
	margin-bottom: -5px;
	margin-left: -5px;
	margin-right: -5px;
	padding: 2px 4px 4px 4px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-radius: 5px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	*/
	display: inline-block
}

.comment-color {
  font-size: 1.1em;
  color: #e27cfb; /* purple */
  color: #fdfdfd;
  color: #fbdba0; /* peach */
  color: lime; /* to match with ACKED green. Since it's a good thing */
  color: #7cfd7c; /* soft/light green */
  color: #fdee7c;
}

.checking-now {
	margin-left: 0px;
	/*color: yellow;*/
}

{/* soft */}
.service-item-soft {
	opacity: 0.6;
}

{/* soft */}
.service-item-state-type-0 {
	color: #bbb;
	font-size: 0.7em;
	background-color: #111;
	padding: 2px 3px;
	border-radius: 4px;
	position: relative;
	top: -2px;
}

{/* hard */}
.service-item-state-type-1 {
	font-size: 0.7em;
	background-color: #111;
	padding: 2px 3px;
	border-radius: 4px;
	position: relative;
	top: -2px;
}

.item-notifications-disabled {
	font-size: 0.7em;
}

.service-item-description {
	font-size: 1em;
	padding: 2px 4px;
	border-radius: 4px;
	position: relative;
	top: 0px;
	border: 0px solid #545454;
	background-color:#101010;
	margin-right: 5px;
	margin-left: 5px;
	color: #fdee7c;
  }

  .service-item-host-name {
	  display: inline-block;
  }