.ServiceItem {
	position: relative;
	cursor: pointer;
}
.comment {
	text-align: left;
	font-size: 0.9em;
	background-color: rgba(0, 0, 0, 0.3);
	margin-bottom: -5px;
	margin-left: -5px;
	margin-right: -5px;
	padding: 4px 4px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid #333;
}

.comment-color {
  color: #88c1ff;
  color: #00d8ff; /* blueish */
  color: #fdfdfd;
}

.checking-now {
	margin-left: 0px;
	color: yellow;
}

{/* soft */}
.service-item-soft {
	opacity: 0.6;
}

{/* soft */}
.service-item-state-type-0 {
	color: #bbb;
	font-size: 0.7em;
}

{/* hard */}
.service-item-state-type-1 {
	font-size: 0.7em;
}