.HostItem {
	position: relative;
	cursor: pointer;
}

{/* soft */}
.host-item-soft {
	opacity: 0.7;
}

{/* soft */}
.host-item-state-type-0 {
	color: #999;
	font-size: 0.8em;
}

{/* hard */}
.host-item-state-type-1 {
	font-size: 0.8em;
}