.HostItems {
	margin-top: 10px;
}

.HostItem {
	margin-bottom: 8px;
}

.HostItem:last-of-type {
	margin-bottom: 0px;
}

.HostItemBorder {
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
	min-height: 33px;
	padding-bottom: 10px;
}

.HostItemBorder:last-of-type {}