.HostItems {
  margin-top: 10px;
}

.HostItem {
  margin-bottom: 8px;
}

.HostItem:last-of-type {
  margin-bottom: 0px;
}

.HostItemBorder {
  /*border: 1px solid gray;*/
  padding: 5px;
  border-radius: 5px;
}
.HostItemBorder:last-of-type {
  
}