.HostItem {
	position: relative;
	overflow: hidden;
}

.host-item-soft {
	opacity: 0.6;
}

.host-item-state-type-0 {
	color: #bbb;
	font-size: 0.7em;
	background-color: #111;
	padding: 2px 3px;
	border-radius: 4px;
	position: relative;
	top: -2px;
}

.host-item-state-type-1 {
	font-size: 0.7em;
	background-color: #111;
	padding: 2px 3px;
	border-radius: 4px;
	position: relative;
	top: -2px;
}

.host-item-host-name {
	display: inline-block;
}