.BottomPanel {
  /*
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #111;
  border-bottom: none;
  background-color: #222222d1;
  z-index: 13;
  text-align: center;
  font-size: 0.9em;
  white-space: nowrap;
  */
}

.BottomPanel > .bottom-panel-area {
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;

  background-color: #111;
  border: 1px solid #444;
  border-radius: 5px;

  margin: 5px;
  text-align: center;
  display: inline-block;
  word-wrap: none;
  vertical-align: middle;
  
  padding: 2px 5px;
  font-size: 0.9em;
  color: #999;
  cursor: pointer;
}

.bottom-panel-nav-area {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;

  height: 78px;
  transition: height 250ms linear, opacity 350ms linear;

  border: 2px solid #333;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  text-align: center;
  display: inline-block;
  word-wrap: none;
  vertical-align: middle;
  background-color: #111;
  padding: 2px 5px;
  font-size: 0.9em;
  color: #999;
  opacity: 1;
}

.bottom-panel-nav-area-visible {
  height: 0px;
  opacity: 0;
}


.BottomPanel .current-version:hover {
  color: orange;
}


.BottomPanel .nav-sidebar-icon-spacer {
  display: inline-block;
  border-right: 2px solid #333;
  height: 30px;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 4px;
}

.BottomPanel .nav-sidebar-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border: 0px solid #333;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.BottomPanel .nav-sidebar-icon .nav-sidebar-icon-text {
  font-size: 0.8em;
  color: #555;
}

.BottomPanel .nav-sidebar-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BottomPanel .nav-sidebar-icon svg {
  
  font-size: 1.2em;
  color: #666;
}

.BottomPanel .nav-sidebar-icon svg.nav-sidebar-icon-selected {
  color: #eee;
}

.nav-sidebar-icon-error {
  animation: error-blink 2s infinite alternate;
}

@keyframes error-blink {
  0%   { color: red; }
  50% { color: orange; }
  100% { color: yellow; }
}

.BottomPanel .nav-sidebar-number {
  margin-top: 20px;
  color: orange;
  font-size: 1.4em;
  text-align: center;
}

.nav-sidebar-bottom-float {
  position: absolute;
  bottom: 0;
}


/* more footer */

.update-available {
  padding: 1px 8px;
  border-radius: 5px;
}

.update-available a {
  color: #a7a749;
  text-decoration: none;
  cursor: pointer;
}
.update-available a:hover {
  color: orange;
}


