.LeftPanel {
	position: fixed;
	top: 40px;
	left: -50px;
	width: 50px;
	border: 0px solid #333;
	background-color: #1d1d1d;
	z-index: 13;
	overflow: hidden;
	transition: left 250ms linear;
}

.LeftPanel.left-panel-open {
	left: 0px;
}

.LeftPanel .nav-sidebar-icon {

	width: 50px;
	height: 50px;
	border: 0px solid #333;
	text-align: center;
	font-size: 1.2em;
	color: #666;

	display: grid;
	place-content: center;
}

.LeftPanel .nav-sidebar-icon svg {
	color: #666;

}

.nav-sidebar-icon-error {
	animation: error-blink 2s infinite alternate;
}

@keyframes error-blink {
	0% {
		color: red;
	}

	50% {
		color: orange;
	}

	100% {
		color: yellow;
	}
}

.nav-sidebar-icon-selected {
	color: #eee;
}

.LeftPanel .nav-sidebar-item {
	position: static;
	width: 50px;
	height: 50px;
	border: 0px solid #333;
	text-align: center;
}

.LeftPanel .nav-sidebar-number {
	margin-top: 20px;
	color: orange;
	font-size: 1.4em;
	text-align: center;
}

.nav-sidebar-bottom-float {
	position: absolute;
	bottom: 0;
}

.nav-sidebar-hr {
	border-bottom: 1px solid #555;
	margin: 0 10px 10px 10px;
}

/* styles for react router links */

.LeftPanel a {
	text-decoration: none;
}

/* active state colors for menu items */
.LeftPanel .nav-sidebar-icon.nav-dash .is-active>svg {
	color: #4ade80 !important; /* green */
	font-size: 0.9em !important;
}

.LeftPanel .nav-sidebar-icon.nav-settings .is-active>svg {
	color: #60a5fa !important; /* blue */
	font-size: 0.9em !important;
}

.LeftPanel .nav-sidebar-icon.nav-update .is-active>svg {
	color: #fb923c !important; /* orange */
	font-size: 0.9em !important;
}

.LeftPanel .nav-sidebar-icon.nav-info .is-active>svg {
	color: #c084fc !important; /* purple */
	font-size: 0.9em !important;
}

/* hover colors for menu items */
.LeftPanel .nav-sidebar-icon.nav-dash:hover svg {
	color: #4ade80; /* green */
}

.LeftPanel .nav-sidebar-icon.nav-settings:hover svg {
	color: #60a5fa; /* blue */
}

.LeftPanel .nav-sidebar-icon.nav-update:hover svg {
	color: #fb923c; /* orange */
}

.LeftPanel .nav-sidebar-icon.nav-info:hover svg {
	color: #c084fc; /* purple */
}