/* TopPanel.css */

.TopPanel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 10;
    background-color: #222;
    border-bottom: 0px solid #333;
}
  
.TopPanel > .header-right-float {
    position: absolute;
    top: 0;
    right:  0px;
    height: 40px;
    vertical-align: top;
    margin-right: 15px;
}
  
.TopPanel > .header-application-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    margin-right: 10px;
    display: inline-block;
    color: #ddd;
}
  
.TopPanel .sound-icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    margin-right: 15px;
    cursor: pointer;
}

.TopPanel .sound-icon.sound-icon-disabled {
    color: #666;
}

/* if we have the hamburger menu then we do not need the extra left margin */
.TopPanel > .hamburger-menu + .header-application-name {
    margin-left: 0px;
}

.TopPanel > .hamburger-menu {
    font-size: 1.2em;
    display: inline-block;
    
    height: 40px;
    width: 45px;
    color: #666;
    transition: color 250ms linear;
    cursor: pointer;
}

.TopPanel > .hamburger-menu > .hamburger-menu-center {
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
}

.TopPanel > .hamburger-menu.hamburger-menu-active {
  color: #fff;
}
