.summary .doomguy-wrap {
	position: relative;
	top: 3px;
	right: 0px;
	width: 48px;
	height: 64px;
}
.TopPanel .doomguy-wrap {
	display: inline-block;
	height: 40px;
	width: 35px;
	position: relative;
}

.doomguy {
	position: absolute;
	top: 5px;
	right: 0px;
	height: 64px;
	width: 48px;
	/*transform: scale(1);*/
	transform-origin: 100% 0%;
	cursor: pointer;
}

.doomguy1 {
	background-position: 0px 0px
}

.doomguy2 {
	background-position: 0px -64px
}

.doomguy3 {
	background-position: 0px -128px;
}

.doomguy4 {
	background-position: 0px -192px;
}

.doomguy5 {
	background-position: 0px -256px;
}

.doomguy6 {
	background-position: 0px -320px;
}

.doomguy7 {
	background-position: 0px -384px;
}

.doomguy8 {
	background-position: 0px -448px;
}

.doomguy9 {
	background-position: 0px -512px;
}

.doomguy10 {
	background-position: 0px -576px;
}

/* this one is an exception to the 64 rule */
.doomguy11 {
	background-position: 0px -640px
}

.doomguy12 {
	background-position: 0px -704px
}

.doomguy13 {
	background-position: 0px -768px;
}

.doomguy14 {
	background-position: 0px -832px;
}

.doomguy15 {
	background-position: 0px -896px;
}

.doomguy16 {
	background-position: 0px -960px;
}

.doomguy17 {
	background-position: 0px -1024px;
}

.doomguy18 {
	background-position: 0px -1088px;
}

.doomguy19 {
	background-position: 0px -1152px;
}

.doomguy20 {
	background-position: 0px -1216px;
}

.doomguy20 {
	background-position: 0px -1280px;
}

.doomguy21 {
	background-position: 0px -1344px;
}

.doomguy22 {
	background-position: 0px -1408px;
}

.doomguy23 {
	background-position: 0px -1472px;
}

.doomguy24 {
	background-position: 0px -1536px;
}

.doomguy25 {
	background-position: 0px -1600px;
}

.doomguy26 {
	background-position: 0px -1664px;
}

.doomguy-thinking {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 11px;
	color: #888;
	opacity: 0.7;
	white-space: nowrap;
}

.doomguy-speech-balloon {
	position: absolute;
	bottom: 100%;
	right: 0;
	margin-bottom: 8px;
	padding: 6px 10px;
	background-color: #2a2a2a;
	border: 1px solid #555;
	border-radius: 12px;
	font-size: 12px;
	color: #eee;
	white-space: nowrap;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	z-index: 10;
}

/* Speech balloon tail/pointer */
.doomguy-speech-balloon::after {
	content: '';
	position: absolute;
	bottom: -8px;
	right: 15px;
	border-width: 8px 6px 0 6px;
	border-style: solid;
	border-color: #2a2a2a transparent transparent transparent;
}

.doomguy-speech-balloon::before {
	content: '';
	position: absolute;
	bottom: -10px;
	right: 14px;
	border-width: 9px 7px 0 7px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}