.AlertSection {
  margin-bottom: 30px;
}

/* history */

.history-summary {
  margin-top: 15px;
  clear: both;
}

.history-summary-title {
  font-size: 0.8em;
  color: #bbb;
}

.history-chart-title {
  text-align: center;
  font-size: 1em;
  color: #555;
}