.AlertItems {
  margin-top: 10px;
  opacity: 0.8;
}

.AlertItem {
  background-color: #222;
  border: 0px solid #9c9c9c;
  font-size: 0.9em;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 5px;

  overflow: hidden;
  background-color: #111;
  color: white;
  justify-content: center;
}

.AlertItemRight {
  border: 0px solid #ccc;
  background-color: #444;
  border-bottom-left-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  top: -3px;
  left: 4px;
}
.ShowMoreArea {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.ShowMoreArea button {
  font-size: 1.1em;
  border-radius: 5px;
  margin: 0 4px;
  color: white;
  background-color: #333;
  border: 0px solid lime;
}