.AlertSection {
	margin-bottom: 30px;
}

/* history */

.history-summary {
	position: relative;
	margin-top: 15px;
	clear: both;
}

.history-summary-title {
	font-size: 0.8em;
	color: #bbb;
}

.history-chart-title {
	text-align: center;
	font-size: 1em;
	color: #555;
}

/* alert search */

.AlertSection .alert-search-input {
	padding: 1px 6px;
	font-size: 0.9em;
	border: 1px solid #444;
	border-radius: 4px;
	width: 200px;
	position: relative;
	top: -1px;
	margin-left: 5px;
}
.AlertSection .alert-search-input:focus {
	outline: none;
	border-color: #888;
}
.AlertSection .alert-search-clear {
	margin-left: 4px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.9em;
	color: #888;
	padding: 2px 4px;
}
.AlertSection .alert-search-clear:hover {
	color: #333;
}