.QuietFor {
	color: lime;
	padding: 5px 5px;
	margin: 20px 0px;
	text-align: left;
	background-color: #111;
	border-radius: 5px;
	font-size: 1.1em;
	border: 1px solid #004c00;
}
.QuietForIcon {
	float: right;
	position: relative;
	top: 2px;
	opacity: 1;
	font-size: 1em;
	margin-right: 5px;
}
.QuietForClock {
	margin-right: 5px;
}