.Checkbox {
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px 7px;
  background-color: rgba(250, 250, 250, 0.3);
  font-size: 0.7em;
  opacity: 0.8;
  position: relative;
  top: -2px;
}

.Checkbox > span {
	white-space: nowrap;
}

.Checkbox:first-of-type {
	margin-left: 0px;
}

.checkbox-value {
	font-weight: bold;
	font-size: 1.1em;
}
.Checkbox.warning {
  border: 0px solid yellow;
  background-color: #585804;
  color: yellow;
}
.Checkbox.unknown {
  border: 0px solid orange;
  background-color: rgba(255, 177, 2, 0.3);
  color: orange;
}
.Checkbox.critical {
  border: 0px solid red;
  background-color: rgba(255, 2, 2, 0.3);
  color: orange;
}
.Checkbox.acked {
  border: 0px solid green;
  background-color: rgba(0, 253, 43, 0.3);
}
.Checkbox.scheduled {
  border: 0px solid green;
  background-color: rgba(0, 253, 43, 0.3);
}
.Checkbox.flapping {
  border: 0px solid gray;
  background-color: rgba(255, 177, 2, 0.3);
}
.Checkbox.soft {
  border: 0px solid yellow;
  background-color: #585804;
  color: yellow;
}

/* host */

.Checkbox.down {
  border: 0px solid red;
  background-color: rgba(255, 2, 2, 0.3);
  color: orange;
}
.Checkbox.unreachable {
  border: 0px solid red;
  background-color: rgba(255, 2, 2, 0.3);
  color: orange;
}
.Checkbox.pending {
  border: 0px solid gray;
  background-color: rgba(250, 250, 250, 0.3);
}

/* dim */

.Checkbox.dim {
  border: 0px solid yellow;
  opacity: 0.5;
}

/* hidden checkbox */

.Checkbox.checkbox-hidden input[type=checkbox] {
  opacity: 0;
  display: none;
}