.HowMany {
	display: inline-block;
}

.HowManyItem:first-of-type {
	margin-left: 0px;

}

.HowManyItem {
	/*border: 1px solid green;*/
	background-color: lime;
	height: 8px;
	width: 8px;
	border-radius: 4px;
	display: inline-block;
	margin-left: 5px;
}

.HowManyItemProblem {
	/*border: 1px solid orange;*/
	background-color: yellow;
	-webkit-animation: colorPulse 2s infinite alternate;
}

@-webkit-keyframes colorPulse {
	0% {
		background-color: orange;
	}

	100% {
		background-color: yellow;
	}
}

@media only screen and (max-device-width: 880px) {
	.HowManyItem {
		height: 4px;
		width: 4px;
		border-radius: 2px;
	}
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {

	.HowManyItem {
		height: 4px;
		width: 4px;
		border-radius: 2px;
	}
}