.HowManyEmoji {
	display: inline-block;
}
.HowManyEmojiItem:first-of-type {
	margin-left: 0px;
}
.HowManyEmojiItem {
	display: inline-block;
	margin-left: 0px;
}
.HowManyEmojiItemProblem {
	
}
.HowManyEmojiWrap {
  margin-left: 10px;
  border: 0px solid yellow;
  font-size: 0.7em;
}

@media only screen and (max-device-width: 880px) {
  .HowManyEmojiItem {
    font-size: 0.5em;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

  .HowManyEmojiItem {
    font-size: 0.5em;
  }
}