.NavSidebar {
  position: fixed;
  top: 51px;
  bottom: 0px;
  left: 0;
  width: 50px;
  border: 0px solid #333;
  background-color: #222;
  z-index: 13;
}

.NavSidebar .nav-sidebar-icon {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  border: 0px solid #333;
  text-align: center;
  font-size: 1.2em;
  color: #666;
}

.NavSidebar .nav-sidebar-icon svg {
  cursor: pointer;
}

.nav-sidebar-icon-error {
  animation: error-blink 2s infinite alternate;
}
@keyframes error-blink {
  0%   { color: red; }
  50% { color: orange; }
  100% { color: yellow; }
}

.nav-sidebar-icon-selected {
  color: #eee;
}

.NavSidebar .nav-sidebar-item {
  position: static;
  width: 50px;
  height: 50px;
  border: 0px solid #333;
  text-align: center;
}

.NavSidebar .nav-sidebar-number {
  margin-top: 20px;
  color: orange;
  font-size: 1.4em;
  text-align: center;
}

.nav-sidebar-bottom-float {
  position: absolute;
  bottom: 0;
}

.nav-sidebar-hr {
  border-bottom: 1px solid #555;
  margin: 0 10px 10px 10px;
}
