.Progress {
	position: absolute;
	bottom: 1px;
	left: 0px;
	right: 0px;
	height: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}

@keyframes scaleup-keyframes {
	from { transform: scaleX(0); }
	to   { transform: scaleX(1); }
}

@keyframes scaledown-keyframes {
	from { transform: scaleX(1); }
	to   { transform: scaleX(0); }
}

.Progress .progress-bar {
	height: 8px;
	background-color: gray;
	width: 100%;
	opacity: 0.3;
	animation-timing-function: linear;
	transform-origin: left;
}

.Progress .progress-bar.color-yellow {
	background-color: yellow;
}
.Progress .progress-bar.color-orange {
	background-color: orange;
}
.Progress .progress-bar.color-red {
	background-color: pink;
}
.Progress .progress-bar.color-green {
	background-color: lime;
}
.Progress .progress-bar.color-gray {
	background-color: gray;
}