.Progress {
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
	height: 4px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	overflow: hidden;
}

@keyframes progress-keyframes {
	from { transform: scaleX(0); }
	to   { transform: scaleX(1); }
}

.Progress .progress-bar {
	border: 0px solid orange;
	height: 4px;
	background-color: gray;
	width: 100%;
	opacity: 0.3;
	animation-timing-function: linear;
	transform-origin: left;
}

.Progress .progress-bar.color-yellow {
	background-color: yellow;
}
.Progress .progress-bar.color-orange {
	background-color: orange;
}
.Progress .progress-bar.color-red {
	background-color: pink;
}
.Progress .progress-bar.color-green {
	background-color: lime;
}