.summary-item {
	position: relative;
	border: 1px solid #002232;
	border-left: 3px solid #00adff;
	background-color: #051218;
	font-size: 1.5em;
	border-radius: 5px;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.summary-left-side {
	display: flex;
	flex-wrap: wrap; /* Allow children within containers to wrap */
	justify-content: flex-start;
}

.summary-right-side {
	display: flex;
	flex-wrap: wrap; /* Allow children within containers to wrap */
	justify-content: flex-end;
	margin-left: auto; /* Pushes the entire container to the right */
	align-items: flex-start; /* Align items to the top */
}

.font-size-small {
	font-size: 0.6em;
}

.no-wrap {
	white-space: nowrap;
}

.overflow-hidden {
	overflow: hidden;
}

.summary-box:first-of-type {
	margin-left: 10px;
}

.summary-box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #001d2a;
	background-color: #000c12;
	border-radius: 10px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-left: 5px;
	margin-top: 1px;
	margin-bottom: 5px;
	font-size: 0.8em;
	min-width: 60px;
}

.summary-box-big-number {
	font-size: 1.5em;
}

.summary-box-text {
	font-size: 0.6em;
}

.summary-box-right {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	width: 100px;
	border: 1px solid #003f5c;
	border-radius: 6px;
	text-align: center;
	padding-top: 15px;
}

.summary-box.summary-box-separator {
	background-color: #02496a;
	height: 50px;
	width: 2px;
	padding: 0;
	margin-top: 18px;
	min-width: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	/* .summary-box.float-right {
		display: none;
	} */
	/* .summary-box.summary-box-text {
		display: none;
	} */
}