.AutoUpdate textarea {
  width: 95%;
  height: 200px;
  background-color: #222;
  color: white;
  border: 2px solid lime;
}

.auto-update-error {
  background-color: red;
  color: yellow;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 8px;
}

.auto-update-chown-command {
  border: 1px solid #ccc;
  background-color: #444;
  display: inline-block;
  padding: 2px 6px;
}

.auto-update-button {
  color: #0f0;
  border: 2px solid green;
  background-color: #333;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
}