.Base {
  text-align: left;
  margin: 0 10px;
}
input[type=text] {
  width: 50%;
}
.margin-top-10 {
  margin-top: 10px;
}

.settings {

}
.settings input {
  font-size: 1.1em;
}
.settings button {
  margin-left: 5px;
  font-size: 1.1em;
}

.AllOkItem {
  background-color: #222;
  font-size: 1.0em;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 7px;
}