.Base {
  text-align: left;
  margin: 0 15px 0 15px;
}
input[type=text] {
  width: 50%;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}

.softIcon {
  margin-right: 5px;
}

.settings {

}
.settings input {
  font-size: 1.1em;
}
.settings button {
  margin-left: 5px;
  font-size: 1.1em;
}

.display-inline-block {
  display: inline-block;
}

.SettingsButtonDiv button {
  background-color: #222;
  color: #999;
  border-color: #888;
  border-radius: 4px;
}


/* Header */

.HeaderArea {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  z-index: 10;
  background-color: rgba(20,20,20,0.8);
  border-bottom: 1px solid #333;
  font-size: 1.1em;
}
.HeaderArea > div {
  margin: 10px 0 10px 15px;
}

.ApplicationName {
  font-size: 1.3em;
  margin-right: 10px;
  display: inline-block;
}

/* Footer */

.FooterArea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 35px;
  z-index: 12;
  background-color: rgba(20,20,20,0.8);
  border-top: 1px solid #333;
  text-align: center;
  font-size: 1.0em;
}
.FooterArea > div {
  margin: 10px;
  line-height: 1.3em;
}
.FooterAreaLeft {
  position: absolute;
  left: 0;
  bottom: 0px;
}
.FooterAreaRight {
  position: absolute;
  right: 40px;
  bottom: 0px;
}


/* not sure why body doesnt influence this FooterArea font size, maybe because its float? */
@media only screen and (max-device-width: 480px) {
  .FooterArea {
    font-size: 0.9em;
  }
  .FooterAreaMiddleUpdate {
    display: none !important;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

  .FooterArea {
    font-size: 0.9em;
  }
  .FooterAreaMiddleUpdate {
    display: none !important;
  }
}

.SettingsButtonDiv {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.SettingsArea {
  border: 1px solid gray;
  background-color: #111;
  font-size: 1.0em;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 7px;
}

/* service summary (17 hosts (0 problems)) */

.service-summary {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  clear: both;
  /*overflow: hidden;*/
}
.service-summary-title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

/* all ok */

.all-ok-item {
  border: 1px solid #004c00;
  background-color: #111;
  font-size: 1.5em;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: all 500ms ease-in;
}
.all-ok-item.hidden {

}
.all-ok-item.visible {
  max-height: 38px;
  opacity: 1;
}

/* these some-down-items live inside HostItems and ServiceItems */
/* probably should move to its own component */
.some-down-items {
  border: 1px solid #004c00;
  background-color: #111;
  font-size: 1.5em;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: all 500ms ease-in;
}
.some-down-items > div {
  margin: 8px;
}
.some-down-items.hidden {

}
.some-down-items.visible {
  max-height: 40px;
  opacity: 1;
}
.some-down-hidden-text {
  font-size: 0.8em;
  color: #aaa;
}

/* history */

.history-summary {
  margin-top: 20px;
}

/**/

.service-hide-problems {
  margin-top: 8px;
  line-height: 30px;
}
.service-hide-problems select {
  background-color: #353535;
  color: white;
  font-size: 0.7em;
  white-space: nowrap;
  opacity: 0.8;
}
.service-hide-problems label {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px 7px;
  background-color: rgba(250, 250, 250, 0.3);
  font-size: 0.7em;
  opacity: 0.8;
}
.service-hide-problems > label > span {
  /*white-space: nowrap;*/
}
.service-hide-problems > label > input[type=checkbox] {
  margin-left: 3px;
  margin-right: 6px;
  font-size: 1em;
  position: relative;
  top: -1px;
}
.service-hide-problems label.warning {
  border: 0px solid yellow;
  background-color: #585804;
  color: yellow;
}
.service-hide-problems label.unknown {
  border: 0px solid gray;
  background-color: rgba(255, 177, 2, 0.3);
}
.service-hide-problems label.critical {
  border: 0px solid red;
  background-color: rgba(255, 2, 2, 0.3);
}
.service-hide-problems label.acked {
  border: 0px solid green;
  background-color: rgba(0, 253, 43, 0.3);
}
.service-hide-problems label.scheduled {
  border: 0px solid green;
  background-color: rgba(0, 253, 43, 0.3);
}
.service-hide-problems label.flapping {
  border: 0px solid gray;
  background-color: rgba(255, 177, 2, 0.3);
}

/* host */

.service-hide-problems label.down {
  border: 0px solid red;
  background-color: rgba(255, 2, 2, 0.3);
}
.service-hide-problems label.unreachable {
  border: 0px solid red;
  background-color: rgba(255, 2, 2, 0.3);
}
.service-hide-problems label.pending {
  border: 0px solid gray;
  background-color: rgba(250, 250, 250, 0.3);
}

/* summary-label */

.summary-label {
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 0.5em;
  position: relative;
  top: -2px;
  margin-left: 2px;
  margin-right: 8px;
}
.summary-label-red {
  border: 1px solid red;
  background-color: rgba(255, 2, 2, 0.3);
  color: orange;
}
.summary-label-orange {
  border: 1px solid orange;
  background-color: rgba(255, 177, 2, 0.3);
  color: orange;
}
.summary-label-yellow {
  border: 1px solid yellow;
  background-color: #585804;
  color: yellow;
}
.summary-label-green {
  border: 1px solid green;
  background-color: rgba(0, 253, 43, 0.3);
  color: orange;
}
.summary-label-gray {
  border: 1px solid gray;
  background-color: rgba(181, 181, 181, 0.3);
  color: orange;
}

/* fun stuff */

.FlynnWrapper {
  position: fixed;
  top: 10px;
  right: 18px;
  z-index: 11;
}

/* more footer */

.update-available {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 1px 8px;
  border-radius: 5px;
  margin-left: 5px;
}
.update-available a {
  color: black;
  text-decoration: none;
}
.update-available a:hover {
  color: black;
  text-decoration: underline;
}

/* general purpose font related */
.uppercase {
  text-transform: uppercase;
}
.uppercase-first:first-letter {
  text-transform: uppercase;
}
.display-inline-block {
  display: inline-block;
}
.font-size-0-6 {
  font-size: 0.6em;
}
.font-size-0-8 {
  font-size: 0.8em;
}
