.Base {
  text-align: left;
  margin: 0 15px 0 15px;
}
input[type=text] {
  width: 50%;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}

.softIcon {
  margin-right: 5px;
}

.settings {

}
.settings input {
  font-size: 1.1em;
}
.settings button {
  margin-left: 5px;
  font-size: 1.1em;
}

.display-inline-block {
  display: inline-block;
}

.SettingsButtonDiv button {
  background-color: #222;
  color: #999;
  border-color: #888;
  border-radius: 4px;
}


/* Header */

.HeaderArea {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  z-index: 10;
  background-color: #222;
  border-bottom: 0px solid #333;
  
}

.HeaderArea > div {
  /*margin: 10px 0 10px 15px;*/
}

/*
.HeaderArea > .header-corner-area {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #363644;
  height: 50px;
  width: 50px;
  text-align: center;
}

.HeaderArea > .header-corner-area > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HeaderArea > .header-corner-area > svg.header-corner-area-icon {
  cursor: pointer;
}

*/

.HeaderArea > .header-right-float {
  position: absolute;
  top: 0;
  right:  0px;
  height: 50px;
  vertical-align: top;
}

.header-application-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1.2em;
  color: #ddd;
}

.sound-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  margin-right: 15px;
}



/* https://www.stephen.io/mediaqueries/ */

/* iPhone 10 */
@media only screen 
and (max-width: 1768px) {
  
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .NavBottomBar svg {
      font-size: 1.7em !important;
    }
}

@media only screen and (max-device-width: 480px) {
   
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
  
}

.main-content {
  margin-left: 0px;
}

.SettingsButtonDiv {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.SettingsArea {
  border: 1px solid gray;
  background-color: #111;
  font-size: 1.0em;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 7px;
}

/* service summary (17 hosts (0 problems)) */

.service-summary {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  /*overflow: hidden;*/
  
}
.service-summary-title {
  font-size: 1.2em;
  margin-right: 8px;
  margin-bottom: 5px;
  color: #bbb;
}

/* all ok */

.all-ok-item {
  position: relative;
  border: 1px solid #004c00;
  background-color: #001d00;
  font-size: 1.5em;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: all 500ms ease-in;
}
.all-ok-item.hidden {

}
.all-ok-item.visible {
  max-height: 38px;
  opacity: 1;
}

/* these some-down-items live inside HostItems and ServiceItems */
/* probably should move to its own component */
.some-down-items {
  position: relative;
  border: 1px solid #004c00;
  background-color: #001d00;
  font-size: 1.5em;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: all 500ms ease-in;
}
.some-down-items > div {
  margin: 8px;
}
.some-down-items.hidden {

}
.some-down-items.visible {
  max-height: 40px;
  opacity: 1;
}
.some-down-hidden-text {
  font-size: 0.8em;
  color: #aaa;
}


/* fun stuff */

.FlynnWrapper {
  position: fixed;
  top: 10px;
  right: 18px;
  z-index: 11;
}

/* more footer */

.update-available {
  

  font-weight: bold;
  padding: 1px 8px;
  border-radius: 5px;
  margin-left: 5px;
}
.update-available a {
  color: yellow;
  text-decoration: underline;
}
.update-available a:hover {
  color: yellow;
  text-decoration: underline;
}

/* general purpose font related */
.uppercase {
  text-transform: uppercase;
}
.uppercase-first:first-letter {
  text-transform: uppercase;
}
.display-inline-block {
  display: inline-block;
}
.font-size-0-6 {
  font-size: 0.6em;
}
.font-size-0-8 {
  font-size: 0.8em;
}
button {
  cursor: pointer;
}
.align-right {
  text-align: right;
}