.Demo {
	border: 2px solid #949494;
    background-color: #353535;
	border-radius: 5px;
	padding: 5px;
	position: fixed;
	width: 400px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	z-index: 20;
}

.Demo .demo-header {
	background-color: #222;
	border-radius: 4px;
	padding: 1px 3px;
	text-align: center;
}

.Demo table {
	width: 100%;
}

.Demo table td {
	text-align: center;
}

.Demo button {
	width: 45%;
	font-size: 0.7em;
	margin: 0 2px;
}
