.Help a {
	color: #6fbbf3;
}

.help-option {
	cursor: pointer;
	margin-bottom: 5px;
	display: inline-block;
}

.help-option:hover {
	color: orange;
}

.help-bottom-area {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}