.HostItems {
  margin-top: 10px;
  opacity: 0.8;
}

.HostItem {

}

.HostItemBorder {
  /*border: 1px solid gray;*/
  font-size: 1.0em;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 0px;
}