.QuietFor {
	color: lime;
	padding: 8px 8px;
	margin: 15px 0px;
	text-align: left;
	background-color: #222;
	border-radius: 5px;
	font-size: 1.3em;
}
.QuietForStars {
	float: right;
}
.QuietForClock {
	margin-right: 5px;
}