.SettingsBox {
    border: 2px solid #3c3c3c;
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 10px;
    right: 10px;
    z-index: 11;
    transition: all 200ms ease-in;
    background-color: rgba(0,0,0,0.85);
    border-radius: 16px;
    background-color: #222;
}
.SettingsBox.open {
    /*border: 2px solid #222;*/
    position: fixed;
    height: calc(100vh - 50px);
    width: calc(100vw - 100px);
    bottom: 10px;
    right: 50px;
    z-index: 11;
    border-radius: 10px;
}
.SettingsBox > .SettingsSmall {
    opacity: 1;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}
.SettingsBox > .SettingsSmall > img {
    height: 40px;
    width: 40px;  
}
.SettingsBox.open > .SettingsSmall {
    opacity: 0;
}

.SettingsBox > .SettingsBig {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid orange;*/
}
.SettingsBox.open > .SettingsBig {
    display: block;
}
.SettingsBox > .SettingsBig > h2 {
    font-size: 1.2em;
}

.SettingsBox select {
    border: 1px solid #ccc;
}
.SettingsScroll {
    overflow-y: scroll;
    /*border: 1px solid green;*/
    height: calc(100vh - 100px);
    margin-top: 10px;
}
.SettingSave {
    /*text-align: right;
    position: absolute;
    right: 15px;
    bottom: 10px;*/
    margin-top: 10px;
}
.SettingSave > button {
    background-color: #333;
    color: red;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid red;
    padding: 5px 10px;
    cursor: pointer;

}
.SettingSaveMessage {
    margin-left: 20px;
    display: inline-block;
}
.SettingsSaveButton {
    background-color: #333;
    color: lime;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid green;
    padding: 5px 10px;
    cursor: pointer;
}
.SettingsSection {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #444;
}
.SettingsSection button {
    
}