.SettingsBox {
    
    position: fixed;
    height: 0px;
    width: 0px;
    bottom: 0px;
    right: 10px;
    z-index: 13;
    /*transition: all 200ms ease-in;*/
    background-color: rgba(0,0,0,0.85);
    
    background-color: #222;
}
.SettingsBox.open {
    
    position: fixed;
    height: calc(100vh - 60px);
    width: calc(100vw - 70px);
    /*height: 100vh;
    width: 100vw;*/
    bottom: 0px;
    right: 10px;

    
}
.SettingsBox > .SettingsSmall {
    opacity: 1;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}
.SettingsBox > .SettingsSmall > img {
    height: 30px;
    width: 30px;  
}
.SettingsBox.open > .SettingsSmall {
    opacity: 0;
}

.SettingsBox > .SettingsBig {
    display: none;

    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px solid orange;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.SettingsBox.open > .SettingsBig {
    display: block;
}
.SettingsBox > .SettingsBig h2 {
    font-size: 1.2em;
    color: yellow;
}
.SettingsBox > .SettingsBig h5 {
    font-size: 1.1em;
    margin: 10px 0px;
    color: yellow;
}

.SettingsBox select {
    border: 1px solid #ccc;
}
.SettingsScroll {
    overflow-y: scroll;
    /*border: 1px solid green;*/
    height: calc(100vh - 150px);
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.SettingsCloseButton {
    background-color: #333;
    color: orange;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.SettingSaveMessage {
    display: inline-block;
}
.SettingsSaveButton {
    background-color: #333;
    color: lime;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.SettingsDeleteCookieButton {
    background-color: #333;
    color: orange;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid orange;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.SettingsSaveToServerButton {
    background-color: #333;
    color: lime;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid green;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.SettingsSection {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #444;
}
.SettingsSection button {
    
}

.raw-json-settings {
    border: 2px solid orange;
    margin-top: 10px;
    margin-right: 20px;
    width: calc(100% - 5px);
    min-height: 100px;
    word-wrap: break-word;
}

.SaveToServerText {
    margin-top: 10px;
}

.SettingsCenterDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.SettingsTestButton {
    margin-left: 10px;
}

.SettingsHeading {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

table.SettingsTable {
    border: 2px solid #888;
    background-color: #444;
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

table.SettingsTable td.SettingsTableHeader {
    background-color: #333;
    border-bottom: 2px solid #777;
    padding: 9px;
    margin-bottom: 5px;
}
table.SettingsTable th {
    text-align: right;
    padding: 8px;
    
    white-space: nowrap;
    vertical-align: top;
}
table.SettingsTable td {
    padding: 4px;
    width: 70%;
}

table.SettingsTable input[type=text] {
    font-size: 1.1em;
    width: 80%;
}
table.SettingsTable input[type=number] {
    font-size: 1.1em;
    width: 100px;
}

table.SettingsTable button {
    font-size: 1.1em;
    border-radius: 4px;
}
table.SettingsTable select {
    font-size: 1.1em;
}