body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  font-size: 1.0em;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 0.7em !important;
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

  body {
    font-size: 0.7em !important;
  }
}